.chat-bubble {
  display: flex;
  margin-bottom: 10px;
}

.liveChatBar {
  width: 300px;
}

.chat-bubble__left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-bubble__right {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 8px 12px;
  max-width: 70%;
}

.chat-bubble__right p {
  margin: 0;
}

.user-name {
  font-weight: bold;
  font-size: 14px; /* Reduced font size for user name */
}

.user-message {
  color: #333;
  font-size: 16px; /* Reduced font size for message text */
}

/* Style for sender's message */
.chat-bubble.right {
  justify-content: flex-end; /* Align sender's message to the right */
}

.chat-bubble.right .chat-bubble__right {
  background-color: #007bff;
  color: #fff;
}

.chat-bubble.right .user-name {
  color: #fff;
}
