.room {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    padding: 10px 10px 20px;
    background: #f0f0f0;
}



.roomSidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
   
   
}
.languageFieldWrapper {
    margin-top: 10px;
    padding: 2px 6px;
    background-color: #030845;
    border-radius: 5px;
}


.liveChatBar {
    
   
    padding: 10px;
    border-radius: 5px;
    color: #030845;
    font-size: 150%;
    font-weight: bold;
    margin-left: 40px;
    
    
}

.roomCodeEditor {
    flex: 1;
}

.roomSidebarCopyBtn {
    font-size: 100%;
    font-weight: bold;
    padding: 8px 15px;
    color: white;
    background-color: #030845;
    
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.45s ease-in-out 0.05s;
}
.roomSidebarCopyBtn:hover {
    color: black;
    background-color: white;
}

.roomSidebarBtn {
    font-size: 100%;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.45s ease-in-out 0.05s;
    margin-bottom: 20px;
}
.roomSidebarBtn:hover {
    color: black;
    background-color: white;
}

.roomSidebarUsersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.languageField {
    padding: 10px 10px;
    background-color: #030845;
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #f0f0f0;
    font-size: medium;
}

.roomSidebarUsers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.roomSidebarUsersEach {
    display: grid;
    justify-items: center;
}

.roomSidebarUsersEachAvatar {
    color: white;
    border-radius: 5px;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    font-size: small;

    display: grid;
    place-items: center;
}

.roomSidebarUsersEachName {
    font-weight: bold;
    font-size: small;
}

@media screen and (min-width: 991px) {
    .room {
        flex-direction: row;
    }

    .roomSidebar {
        flex: 0.15;
    }
   


    .roomSidebar > *:nth-child(2) {
        margin-top: auto;
    }

    .roomCodeEditor {
        flex: 0.65;
    }
    .chatsidebar{
       flex: 0.20;
    }
}